
@media (min-width: 1280px) {


    #conteudo_home {

    display: flex;
    flex-direction: row;
    text-align: center;

    }

    nav {

        justify-content: flex-end;

    }

    nav a {

        margin-right: 2%;

    }

    nav p {

        position: absolute;
        display: block;
        left: 10%;
        font-size: 1.5em;
        font-weight: bolder;

    }

    #conteudo_alinhado {

        display: flex;
        flex-direction: row;
        height: 80vh;

    }

    #titulo_home {

        width: 20%;
        font-size: 11em;
        margin-top: 5%;

    }

    #oculos {

    position: absolute;
    top: 20%;
    right: 10%;
    left: unset;
    transform: rotate(-15deg);
    

    }

    #oculos img {

    width: 60%;

    }

    #slogan {

        margin-top: 15%;
        margin-left: 40%;
        height: 40%;

    }

    #slogan h2 {

        font-size: 5em;

    }

    #slogan p {

        font-size: 2em;

    }

    #botao_azul {

        height: 20vh;

    }

    #button_home {

        width: 40%;

    }
    #container_imagem_formulario{
        display: none;
    }




/*Titulos*/
    #comentarios { 
      background: linear-gradient(to bottom, #c9c9c9, #E4E4E4 94%);
      width: 100%;
      height: 100vh;
    }

    #titulo_comentario {
    
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #titulo_comentario h1{ 
        color: white    ;
        font-size: 8vh;
        text-align: center;
        margin-bottom: 5px;
        justify-content: center;
        flex-direction: row;
    }

    
    #Titulo_principal {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 10px;
    }

    #Titulo_principal span{ 
        color: #68CBE0;
        font-size: 8vh;
        text-align: center;
        margin-bottom: 5px;
        justify-content: center;
        flex-direction: row;
    }  
    
    #titulo_comentario h3{
        color: #ffffff;
        font-size: 5vh;
        font-weight: 500;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    
    }

    #fila1_comentarios {
    
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start; /* alinha no início */
        align-items: flex-start; /* alinha em cima */
        flex-direction: row;
        gap: 10px;/* espaço entre os blocos */

    }

    #fila1_comentarios .div_feedback {
        background-color: white;
        width: 40%;
        height: 215px;
    
    }

    #fila1_comentarios .div_info {
        background-color: white;
        width: 25%;
        height: 215px;
        float: left;
           
    }

   #fila1_comentarios .div_feedback2 {
        background-color: white;
        width: 25%;
        height: 215px;
        color: black;
        margin-left:10px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 20px;
        display: inline-block;
   }

   #fila2_comentarios {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start; /* alinha no início */
        align-items: flex-start; /* alinha em cima */
        flex-direction: row;/* lado a lado */
        gap: 10px;  
   }
  
   #fila2_comentarios .div_feedback {
        background-color: white;
        width: 40%;
        height: 215px;
    
    }

    #fila2_comentarios .div_info {
        background-color: white;
        width: 25%;
        height: 215px;
        float: left;
           
    }

    #fila2_comentarios .div_feedback2 {
        background-color: white;
        width: 25%;
        height: 215px;
        color: black;
        margin-left:10px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 20px;
        display: inline-block;
   }

    /*Formulario Satisfacao*/
    #fale_conosco{
        position: relative;
        width: 100%;
        height: auto;
        background-color: #68CBE0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #titulo_faleconosco{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.5%;
        padding-top: 30px;
        margin-bottom: 20px;
    }

    #titulo_normal{
        font-size: 64px;
        color: #000;

    }

    #titulo_acessibilidade{
        font-size: 64px;
        color: #fff;
    }

    #conteudo_formulario{
        position: relative;
        width: 90%;
        height: 806px;
        margin: auto;
        background-color: #fff;
        box-shadow: 4px 2px 4px #4C4C4C;
        border-radius: 10px 10px 10px 10px;
        display: flex;
        align-items: start;
        justify-content:space-around;
        flex-direction: row;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 20px;
        padding-top: 40px;
    }
    #container_icones_imagem{
        display: none;
    }
    #conteudo_formulario h2{
        background-image: linear-gradient(to right, #000, #4d4c4c);
        -webkit-background-clip: text; 
        background-clip: text;
        color: transparent;
        font-size: 48px;
        text-align: center;
        margin-bottom: 50px;
        float: left;
    }
    #titulo_formulario{
        display: flex;
        flex-direction: column;
        align-items: start;
        width:50%;
        justify-content: space-around;
        
    }
    #icones_contatos_preto{
        width: 100%;
        height: 62px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    #alinhamento_logos_formulario{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .logos_pretos{
         position: relative;
        text-align: center;
        height: 50px;
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
    }
    .infos{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        padding-top: 20px;
        text-align: center;
        font-weight: 500;
        color: #000;
    }
    #icones_contatos_preto h3{
        color: #000;
        padding-bottom: 40px;
        font-size: 48px;
        
    }
    #container_contatos{
       display: none;
    }
    #contatos_brancos_1{
        display: none;
    }
    #contatos_brancos_2{
        display: none;
    }
    
    #container_imagem_desktop{
        display: block;
        position: relative;
        width: 100%;
        height: 618px;
        border-radius: 10px 10px 10px 10px;
        background-color: #000;
    }
    .imagem_formulario{
        position: relative;
        width: 100%;
        display: block;
        height: 100%;
        border-radius: 0 0 10px 0;
    }
    #imagem_contatos{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 40%;
        height: auto;
    }
    .img_icone{
        width: 100%;
        height: 100%;
    }
        
    .form{
        position: relative;
        width: 100%;
        font-size: 32px;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        float: left;
    }

    .form label,
    .form input,
    .form textarea,
    .form button{
        display: block;
        width: 100%;
    }

    .form input{
        height: 60px;
        width: 97%;
    }

    .form label{
        color: #000;
        line-height: 1;
        margin-bottom: 0.2rem;
    }

    .form input,
    .form textarea{
        font: inherit;
        margin-bottom: 1rem;
        border-radius: 4.557px;
        border: 1px solid transparent;
        background-color: #eaeaea;
        color: #000;
        padding: 15px;
        transition: border-color, box-shadow 0.2s;
    }

    .form textarea{
        height: 120px;
        width: 97%;
        resize: vertical;
    }

    .form input:hover,
    .form input:focus,
    .form textarea:hover,
    .form textarea:focus{
        outline: none;
        border-color: #3ebcf7;
        box-shadow: 0 0 0 0 3px #0a5b6b;
    }
    
    #button_fale_conosco{
        width: 100%;
        height: 96px;
        background-color: #000;
        border-radius: 4.556px;
        font-size: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5%;
    }
    #button_fale_conosco img{
        display: block;
    }

}
    
    





    
