@media (min-width: 1200px) {

    #conteudo_home {

    display: flex;
    flex-direction: row;
    text-align: center;

    }

    nav {

        justify-content: flex-end;

    }

    nav a {

        margin-right: 2%;

    }

    nav p {

        position: absolute;
        display: block;
        left: 10%;
        font-size: 1.5em;
        font-weight: bolder;

    }

    #conteudo_alinhado {

        display: flex;
        flex-direction: row;
        height: 80vh;

    }

    #titulo_home {

        width: 20%;
        font-size: 11em;
        margin-top: 5%;

    }

    #oculos {

    position: absolute;
    top: 20%;
    right: 10%;
    left: unset;
    transform: rotate(-15deg);
    

    }

    #oculos img {

    width: 60%;

    }

    #slogan {

        margin-top: 15%;
        margin-left: 40%;
        height: 40%;

    }

    #slogan h2 {

        font-size: 5em;

    }

    #slogan p {

        font-size: 2em;

    }

    #botao_azul {

        height: 20vh;

    }

    #button_home {

        width: 40%;

    }



/*Titulos*/
    #comentarios { 
      background: linear-gradient(to bottom, #c9c9c9, #E4E4E4 94%);
      width: 100%;
      height: 100vh;
    }

    #titulo_comentario {
    
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #titulo_comentario h1{ 
        color: white    ;
        font-size: 8vh;
        text-align: center;
        margin-bottom: 5px;
        justify-content: center;
        flex-direction: row;
    }

    
    #Titulo_principal {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 10px;
    }

    #Titulo_principal span{ 
        color: #68CBE0;
        font-size: 8vh;
        text-align: center;
        margin-bottom: 5px;
        justify-content: center;
        flex-direction: row;
    }  
    
    #titulo_comentario h3{
        color: #ffffff;
        font-size: 5vh;
        font-weight: 500;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    
    }

    #fila1_comentarios {
    
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start; /* alinha no início */
        align-items: flex-start; /* alinha em cima */
        flex-direction: row;
        gap: 10px;/* espaço entre os blocos */

    }

    #fila1_comentarios .div_feedback {
        background-color: white;
        width: 40%;
        height: 215px;
    
    }

    #fila1_comentarios .div_info {
        background-color: white;
        width: 25%;
        height: 215px;
        float: left;
           
    }

   #fila1_comentarios .div_feedback2 {
        background-color: white;
        width: 25%;
        height: 215px;
        color: black;
        margin-left:10px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 20px;
        display: inline-block;
   }

   #fila2_comentarios {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start; /* alinha no início */
        align-items: flex-start; /* alinha em cima */
        flex-direction: row;/* lado a lado */
        gap: 10px;  
   }
  
   #fila2_comentarios .div_feedback {
        background-color: white;
        width: 40%;
        height: 215px;
    
    }

    #fila2_comentarios .div_info {
        background-color: white;
        width: 25%;
        height: 215px;
        float: left;
           
    }

    #fila2_comentarios .div_feedback2 {
        background-color: white;
        width: 25%;
        height: 215px;
        color: black;
        margin-left:10px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 20px;
        display: inline-block;
   }
}
    
    





    
