@media (min-width: 1000px) {

    #conteudo_home {

    display: flex;
    flex-direction: row;
    text-align: center;

    }

    nav {

        justify-content: flex-end;

    }

    nav a {

        margin-right: 2%;

    }

    nav p {

        position: absolute;
        display: block;
        left: 10%;
        font-size: 1.5em;
        font-weight: bolder;

    }

    #conteudo_alinhado {

        display: flex;
        flex-direction: row;
        height: 80vh;

    }

    #titulo_home {

        width: 20%;
        font-size: 11em;
        margin-top: 5%;

    }

    #oculos {

    position: absolute;
    top: 20%;
    right: 10%;
    transform: rotate(-15deg);
    

    }

    #oculos img {

    width: 60%;

    }

    #slogan {

        margin-top: 15%;
        margin-left: 40%;
        height: 40%;

    }

    #slogan h2 {

        font-size: 5em;

    }

    #slogan p {

        font-size: 2em;

    }

    #botao_azul {

        height: 20vh;

    }

    button {

        width: 40%;

    }

}