@font-face {

    font-family: Alumni Sans;
    src: url(fonts/AlumniSans-VariableFont_wght.ttf);
    
}

* {

    margin: 0;
    padding: 0;
    border: 0;
    font-family: Alumni Sans;
    position: relative;
    color: #fff;

}

main {

    width: 100%;
    height: auto;

}


nav {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4c4c4c;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    z-index: 1;

}

nav a {

    text-decoration: none;
    font-size: 1.5em;
    font-weight: bolder;

}

nav a:hover {

    color: #000;
    transition: 1s all;

}


#conteudo_home {

    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background: linear-gradient(to bottom left, #989898, #4C4C4C );

}

#titulo_home {

    margin-top: 10%;
    text-align: left;
    font-size: 5em;
    line-height: 120%;
    margin-bottom: 10%;

}

#slogan h2 {

    font-size: 3.1em;
    color: #000;
    font-style: italic;

}

#slogan p {

    font-size: 1.4em;
    font-weight: bolder;
    margin-bottom: 2.5%;

} 

button {

    background: linear-gradient(to right, #87B6C0, #6EE6FF);
    color: #000;
    font-size: 2em;
    width: 50%;
    height: 15vh;
    margin: auto;
    border-radius: 20px;
    font-weight: bold;

}