@media (min-width: 820px) and (max-width: 1279px) {

    /*Home*/

    #nav_home {

        width: 100%;

    }

    #nav_home p {

        color: #000;

    }
    
    #home {

        background: linear-gradient(to bottom left, #4C4C4C, #828282);


    }

    #titulo_home {

        text-align: center;
        font-size: 6em;
        line-height: 120%;
        margin-bottom: 10%;

    }

    #oculos {

        position: absolute;
        display: block;


    }

    #slogan h2 {

        font-size: 3.5em;

    }

    #botao_branco {

        margin-top: 4vh;

    }


    /*Parte Beneficios*/

    #beneficios {
        width: 100%;
        height: 100vh;
        background-image: url(../images/background_beneficios_tablet.png);
        background-size: cover;
    }

    #container_inicial {
        width: 90%;
        height: 14vh;
        text-align: center;
        margin: auto;
    }

    #container_1 {
        width: 100%;
        height: 25vh;
        float: left;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        padding-top: 10%;
    }

    #container_2 {
        width: 100%;
        height: 25vh;
        float: left;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        padding-top: 5%;
    }

    .quadrado {
        width: 25%;
        height: 25vh;
        background-color: #d9d9d9;
        border-radius: 5%;
        text-align: center;
    }

    .quadrado h1 {
        color: #000;
        font-size: 2.5vh;
        margin-right: 3%;
        margin-left: 3%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .quadrado h4 {
        color: #363636;
        font-size: 2.2vh;
        margin-right: 5%;
        margin-left: 5%;
        margin-top: 2%;
    }

    .icones {
        margin-top: 0.8vh;
    }

    #titulo_beneficios {
        font-size: 3.7vh;
        padding-top: 12%;
    }

    #titulo_beneficios h1 {
        color: #000;
    }

    #branco {
        color: #fff;
    }




    /*Titulos*/
    #comentarios {
        background: linear-gradient(to bottom, #fffefe, #bee9f2 114%);
        width: 100%;
        height: 100vh;
    }

    #titulo_comentario {
        padding-top: 6vh;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #Titulo_principal {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 10px;
    }

    #titulo_comentario h1 {
        color: rgb(175, 175, 175);
        font-size: 6vh;
        text-align: center;
        margin-top: 0.1vh;
        margin-bottom: 5px;
        justify-content: center;
        flex-direction: row;
    }


    #Titulo_principal span {
        color: #68CBE0;
        font-size: 6vh;
        text-align: center;
        margin-bottom: 5px;
        justify-content: center;
        flex-direction: row;
        font-weight: 900;
    }



    #titulo_comentario h3 {
        color: rgb(175, 175, 175);
        font-size: 35px;
        font-weight: 500;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;

    }

    #fila1_comentarios {

        width: 100%;
        margin-top: 1vh;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        gap: 10px;


    }

    #fila1_comentarios .div_feedback {
        background-color: white;
        width: 40%;
        height: 215px;

    }

    #fila1_comentarios .div_info {
        background-color: white;
        width: 25%;
        height: 215px;
        float: left;

    }

    #fila1_comentarios .div_feedback2 {
        background-color: white;
        width: 25%;
        height: 215px;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 20px;
        box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.385);
        display: block;
    }

    #fila2_comentarios {
        width: 100%;
        margin-top: 25px;
        height: auto;
        display: flex;
        justify-content: flex-start;
        /* alinha no início */
        align-items: flex-start;
        /* alinha em cima */
        flex-direction: row;
        /* lado a lado */
        gap: 10px;
    }

    #fila2_comentarios .div_feedback {
        background-color: white;
        width: 40%;
        height: 215px;

    }

    #fila2_comentarios .div_info {
        background-color: white;
        width: 25%;
        height: 215px;
        float: left;

    }

    #fila2_comentarios .div_info2 {
        background-color: white;
        width: 25%;
        height: 215px;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 20px;
        box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.385);
        display: block;
    }

    #fila3_comentarios {

        display: none;
    }

    #fila3_comentarios .div_feedback {
        display: none;
    }

    #fila3_comentarios .div_info {
        display: none;
    }


    /*classes dentros das divs*/
    .div_feedback2 img {
        width: 50px;
        height: 50px;
        display: block;
        float: left;

    }

    .div_feedback img {
        width: 50px;
        height: 50px;
    }

    .div_info img {
        height: 12vh;
    }

    .div_info2 img {
        height: 12vh;
    }

    .div_info2 h1 {
        color: black;
        text-align: center;
        font-size: 40px;
        font-weight: 500;
        font-family: 'Times New Roman', Times, serif;
    }

    .div_info2 p {
        color: black;
        text-align: center;
        margin-top: 2px;
        font-size: 25px;

    }

    .div_info h1 {
        font-size: 45px;
    }

    .div_info p {
        font-size: 25px;
    }


    .div_feedback .nome {
        font-size: 2vh;
        margin-top: 10px;
        margin-left: 10px;
    }

    .div_feedback .nome2 {
        font-size: 2vh;
        margin-top: 10px;
        margin-left: 15px;
    }

    .div_feedback2 .nome {
        color: black;
        font-size: 2vh;
        margin-top: 15px;
        margin-left: 10px;
        margin-bottom: 5px;
        display: block;
    }


    .div_feedback .estrelas {
        font-size: 30px;
        margin-left: 75px;
    }

    .div_feedback .comentario {
        font-size: 20px;
        margin-left: 10px;
    }

    .div_feedback2 .comentario {
        color: black;
        font-size: 20px;
        margin-left: 10px;
        display: block;
    }

    .div_feedback2 .estrelas2 {
        font-size: 15px;
        margin-left: 70px;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 20px;
        display: block;
    }

    #texto_final {
        display: block;
    }

    #texto_final h1 {
        font-size: 5vh;
        font-weight: 500;
    }

    #texto_final span {
        color: rgb(255, 255, 255);
        font-weight: 500;
        font-size: 5vh;
    }



    /*Formulario Satisfacao*/

    #titulo_faleconosco {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 0;
        margin-bottom: 20px;
    }

    #titulo_normal {
        font-size: 40px;
        color: #000;

    }

    #titulo_acessibilidade {
        font-size: 40px;
        color: #fff;
    }

    #conteudo_formulario {
        position: relative;
        width: 60%;
        height: 60vh;
        margin: auto;
        background-color: #fff;
        box-shadow: 4px 2px 4px #4C4C4C;
        border-radius: 10px 10px 0 0;
        display: flex;
        align-items: start;
        justify-content: start;
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 0;
    }

    #container_icones_imagem {
        position: relative;
        display: flex;
        flex-direction: row;
    }

    #conteudo_formulario h2 {
        background-image: linear-gradient(to right, #000, #4d4c4c);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        font-size: 28px;
        text-align: center;
        margin-bottom: 50px;
    }

    #icones_contatos_preto {
        display: none;
    }


    #container_contatos {
        position: relative;
        margin-left: 15%;
        width: 40%;
        height: 30vh;
        border-radius: 0 0 0 10px;
        background-color: #000;
        box-shadow: 4px 2px 4px #4C4C4C;
        display: flex;
        align-items: start;
        flex-direction: column;
        float: left;
    }

    #contatos_brancos_1 {
        position: relative;
        width: 90%;
        height: 30vh;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    #contatos_brancos_2 {
        position: relative;
        width: 90%;
        height: 30vh;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .logos {
        position: relative;
        text-align: center;
        height: 90px;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #000;
    }

    .info {
        position: relative;
        display: flex;
        font-size: 20.9px;
    }

    #container_imagem_formulario {
        position: relative;
        width: 30%;
        height: 30vh;
        border-radius: 10px 10px 10px 10px;
        background-color: #000;
        display: block;
    }

    .imagem_formulario {
        position: relative;
        display: block;
        box-shadow: 4px 2px 4px #4C4C4C;
        width: 100%;
        height: 100%;
        border-radius: 0 0 10px 0;
    }

    .img_icone {
        width: 100%;
        height: 100%;
    }

    .form {
        position: relative;
        width: 100%;
        font-size: 25px;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 40vh;
    }

    .form label,
    .form input,
    .form textarea,
    .form button {
        display: block;
        width: 100%;
    }

    .form input {
        height: 10vh;
        width: 97%;
    }

    .form label {
        color: #000;
        line-height: 1;
        margin-bottom: 0.2rem;
    }

    .form input,
    .form textarea {
        font: inherit;
        margin-bottom: 1rem;
        border-radius: 4.557px;
        border: 1px solid transparent;
        background-color: #eaeaea;
        color: #000;
        padding: 5px;
        transition: border-color, box-shadow 0.2s;
    }

    .form textarea {
        height: 20vh;
        width: 98%;
        resize: vertical;
    }

    .form input:hover,
    .form input:focus,
    .form textarea:hover,
    .form textarea:focus {
        outline: none;
        border-color: #3ebcf7;
        box-shadow: 0 0 0 0 3px #0a5b6b;
    }

    #button_fale_conosco {
        width: 100%;
        height: 25vh;
        background-color: #000;
        border-radius: 4.556px;
        font-size: 25px;
    }

    #button_fale_conosco img {
        display: none;
    }

    #container_imagem_desktop {
        display: none;
    }

    #button_fale_conosco:hover {
        cursor: pointer;

    }

    #contatos_brancos_2:hover {
        cursor: pointer;
    }
    #contatos_brancos_1:hover {
        cursor: pointer;
    }
    /*PÁGINA DO VÍDEO*/

    #tela_video {
        width: 100%;
        height: 100vh;
        background-color: #68CBE0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    #tecnologia_que_cuida {
        width: 70%;
        height: auto;
    }

    #tecnologia_que_cuida h1 {
        font-size: 8vh;
        font-weight: bold;
    }

    #texto_video {
        width: 90%;
        height: auto;

    }

    #texto_video p {
        font-size: 4.5vh;
        color: #000;
    }

    #campo_video_oculos {
        width: 90%;
        height: 40vh;
    }

    /*Footer*/

    footer {
        background: linear-gradient(180deg, #0a0f2c, #0d1440);
        color: #fff;
        padding: 50px 20px 20px;
    }

    .footer-container {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .footer-esquerda h2 {
        font-size: 24px;
        margin-bottom: 10px;
        color: #3aa0ff;
    }

    .footer-esquerda p {
        font-size: 14px;
        color: #ccc;
        line-height: 1.6;
    }

    .footer-coluna h4 {
        font-size: 16px;
        margin-bottom: 15px;
        color: #fff;
    }

    .footer-coluna ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .footer-coluna ul li {
        margin: 8px 0;
        font-size: 15px;
    }

    .footer-coluna ul li a {
        color: #bbb;
        text-decoration: none;
        font-size: 14px;
        transition: 0.3s;
    }

    .footer-coluna ul li a:hover {
        color: #3aa0ff;
    }

    .footer-coluna ul li p {
        color: #bbb;
        font-size: 14px;
        margin: 0;
    }

    .footer-copyright {
        margin-top: 30px;
        border-top: 1px solid #333;
        padding-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .footer-copyright p {
        font-size: 13px;
        color: #777;
    }

    .icones-sociais a {
        margin-left: 10px;
        display: inline-block;
        color: #bbb;
        font-size: 18px;
        transition: 0.3s;
    }

    .icones-sociais a:hover {
        color: #3aa0ff;
    }

    .icones-sociais img {
        width: 50px;
        height: 50px;
    }

}