
@media (min-width: 820px) and (max-width: 1279px){

    /*Home*/
    #home {

        background-image: url(../images/Group_43.png);
        background-repeat: no-repeat;

    }

    #titulo_home {

    text-align: center;
    font-size: 6em;
    line-height: 120%;
    margin-bottom: 10%;

    }

/*Titulos*/
    #comentarios { 
      background: linear-gradient(to bottom, #c9c9c9, #E4E4E4 94%);
      width: 100%;
      height: 100vh;
    }

    #titulo_comentario {
    
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #titulo_comentario h1{ 
        color: white    ;
        font-size: 8vh;
        text-align: center;
        margin-bottom: 5px;
        justify-content: center;
        flex-direction: row;
    }

    
    #Titulo_principal {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 10px;
    }

    #Titulo_principal span{ 
        color: #68CBE0;
        font-size: 8vh;
        text-align: center;
        margin-bottom: 5px;
        justify-content: center;
        flex-direction: row;
    }  
    
    #titulo_comentario h3{
        color: #ffffff;
        font-size: 5vh;
        font-weight: 500;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    
    }

    #fila1_comentarios {
    
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start; /* alinha no início */
        align-items: flex-start; /* alinha em cima */
        flex-direction: row;
        gap: 10px;/* espaço entre os blocos */

    }

    #fila1_comentarios .div_feedback {
        background-color: white;
        width: 40%;
        height: 215px;
    
    }

    #fila1_comentarios .div_info {
        background-color: white;
        width: 25%;
        height: 215px;
        float: left;
           
    }

   #fila1_comentarios .div_feedback2 {
        background-color: white;
        width: 25%;
        height: 215px;
        color: black;
        margin-left:10px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 20px;
        display: inline-block;
   }

   #fila2_comentarios {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start; /* alinha no início */
        align-items: flex-start; /* alinha em cima */
        flex-direction: row;/* lado a lado */
        gap: 10px;  
   }
  
   #fila2_comentarios .div_feedback {
        background-color: white;
        width: 40%;
        height: 215px;
    
    }

    #fila2_comentarios .div_info {
        background-color: white;
        width: 25%;
        height: 215px;
        float: left;
           
    }

    #fila2_comentarios .div_feedback2 {
        background-color: white;
        width: 25%;
        height: 215px;
        color: black;
        margin-left:10px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 20px;
        display: inline-block;
   }

   /*classes dentros das divs*/


   .div_feedback2 img{ 
        width: 40px;
        height: 40px;
        display: block;
   }

   .estrelas2 {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 65px;
    display: block;
    
  }


    /*Formulario Satisfacao*/
    #fale_conosco{
        position: relative;
        width: 100%;
        height: auto;
        background-color: #68CBE0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #titulo_faleconosco{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding-top: 30px;
        margin-bottom: 20px;
    }

    #titulo_normal{
        font-size: 40px;
        color: #000;

    }

    #titulo_acessibilidade{
        font-size: 40px;
        color: #fff;
    }

    #conteudo_formulario{
        position: relative;
        width: 75%;
        height: 666px;
        margin: auto;
        background-color: #fff;
        box-shadow: 4px 2px 4px #4C4C4C;
        border-radius: 10px 10px 0 0;
        display: flex;
        align-items: start;
        justify-content:start;
        flex-direction: column;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 20px;
        padding-top: 40px;
    }
    #container_icones_imagem{
        position: relative;
        display: flex;
        flex-direction: row;
    }
    #conteudo_formulario h2{
        background-image: linear-gradient(to right, #000, #4d4c4c);
        -webkit-background-clip: text; 
        background-clip: text;
        color: transparent;
        font-size: 31.5px;
        text-align: center;
        margin-bottom: 50px;
    }

    #icones_contatos_preto{
        display: none;
    }

    
    #container_contatos{
        position: relative;
        margin-left: 7.5%;
        width: 50%;
        height: 298px;
        border-radius: 0 0 0 10px;
        background-color: #000;
        box-shadow: 4px 2px 4px #4C4C4C;
        display: flex;
        align-items: start;
        justify-content:start;
        flex-direction: column;
        float: left;
    }
    #contatos_brancos_1{
        position: relative;
        width: 100%;
        height: 90px;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    #contatos_brancos_2{
        position: relative;
        width: 100%;
        height: 90px;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .logos{
        position: relative;
        text-align: center;
        height: 90px;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #000;
    }
    .info{
        position: relative;
        display: flex;
        font-size: 23.9px;
    }
    #container_imagem_formulario{
        position: relative;
        width: 35%;
        height: 298px;
        border-radius: 10px 10px 10px 10px;
        background-color: #000;
        display: block;
    }
    .imagem_formulario{
        position: relative;
        display: block;
        box-shadow: 4px 2px 4px #4C4C4C;
        width: 100%;
        height: 100%;
        border-radius: 0 0 10px 0;
    }

    .img_icone{
        width: 100%;
        height: 100%;
    }

    .form{
        position: relative;
        width: 100%;
        font-size: 31px;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .form label,
    .form input,
    .form textarea,
    .form button{
        display: block;
        width: 100%;
    }

    .form input{
        height: 60px;
        width: 98%;
    }

    .form label{
        color: #000;
        line-height: 1;
        margin-bottom: 0.2rem;
    }

    .form input,
    .form textarea{
        font: inherit;
        margin-bottom: 1rem;
        border-radius: 4.557px;
        
        border: 1px solid transparent;
        background-color: #eaeaea;
        color: #000;
        padding: 5px;
        transition: border-color, box-shadow 0.2s;
    }

    .form textarea{
        height: 120px;
        width: 98%;
        resize: vertical;
    }

    .form input:hover,
    .form input:focus,
    .form textarea:hover,
    .form textarea:focus{
        outline: none;
        border-color: #3ebcf7;
        box-shadow: 0 0 0 0 3px #0a5b6b;
    }
    
    #button_fale_conosco{
        width: 100%;
        height: 96px;
        background-color: #000;
        border-radius: 4.556px;
        font-size: 30px;
    }
    #button_fale_conosco img{
        display: none;
    }
    #container_imagem_desktop{
        display: none;
    }

    }

    
    




